Repository NVIDIA-AI-IOT/inference_builder: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_builder_image, build_deployer_image, build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Path conditions:
  build_builder_image: any of: requirements.txt, .Dockerfile.builder
  build_deployer_image: any of: deploy/requirements.deployer.sh, deploy/Dockerfile.deployer
  build_tao_common_nim: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
  build_tao_changenet_nim: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
  build_tao_gdino_nim: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
  build_tao_common_fastapi: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
  build_tao_changenet_fastapi: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
  build_tao_gdino_fastapi: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md

More README Updates
  builder/samples/changenet/README.md
  builder/samples/ds_app/detection/README.md
  builder/samples/nvclip/README.md
  builder/samples/qwen/README.md
  builder/samples/tao/HOWTO.md
  builder/samples/vila/README.md
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Minor Typo Fix
  builder/samples/qwen/README.md
  builder/samples/vila/README.md
Due: none

Fix tao changenet-classifier
  builder/samples/tao/HOWTO.md
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Revise the previous change
  builder/samples/changenet/README.md
  builder/samples/nvclip/README.md
Due: none

Update README.md
  builder/samples/ds_app/detection/README.md
Due: none

Fix mask2former
  templates/backend/deepstream.jinja.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Fix NVCLIP regression on the latest DS container image
  builder/samples/nvclip/Dockerfile
Due: none

Restructure the README
  README.md
  builder/samples/README.md
  doc/architecture.md
  doc/assets/inference_flow.png
  doc/usage.md
Due: none

Fix changenet on Blackwell
  builder/samples/changenet/Dockerfile
  builder/samples/changenet/README.md
Due: none

Update TAO HOWTO
  builder/samples/README.md
  builder/samples/tao/HOWTO.md
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Update README.md
  README.md
Due: none

Update HOWTO.md
  builder/samples/tao/HOWTO.md
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Update openapi.yaml
  builder/samples/tao/openapi.yaml
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Remove LFS object
  builder/samples/tao/validation/citysemsegformer/expected.sample_720p.json
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Update Dockerfile
  builder/samples/tao/Dockerfile
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Update Dockerfile
  builder/samples/ds_app/Dockerfile
Due: none

Update Dockerfile.tegra
  builder/samples/ds_app/Dockerfile.tegra
Due: none

Pre-release Clearup
  builder/boilerplates/nim/cookiecutter.json
  builder/boilerplates/nim/{{cookiecutter.service_name}}/config/__init__.py
  builder/boilerplates/nim/{{cookiecutter.service_name}}/custom/__init__.py
  builder/boilerplates/nim/{{cookiecutter.service_name}}/inference.py
  builder/boilerplates/nim/{{cookiecutter.service_name}}/lib/__init__.py
  builder/boilerplates/nim/{{cookiecutter.service_name}}/server/__init__.py
  builder/main.py
  builder/samples/docker-compose.yml
  doc/usage.md
  templates/api_server/nim/responder.jinja.py
  templates/api_server/nim/route/inference.jinja2
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Final Clean-up
  builder/samples/changenet/openapi.yaml
  builder/samples/dummy/dummy.yaml
  builder/samples/nvclip/openapi.yaml
  doc/usage.md
Due: none

Update .gitattributes
  .gitattributes
Due: none

Restore gitlab repository on main branch
  .gitattributes
  README.md
  builder/samples/changenet/openapi.yaml
  builder/samples/docker-compose.yml
  builder/samples/dummy/dummy.yaml
  builder/samples/nvclip/openapi.yaml
Due: none

Preserve the nim removal on release branch
  .gitattributes
Due: none

Fix dependency issue
  requirements.txt
Due: build_builder_image

Merge branch 'dev/chunlinl/fix_dependency' into 'main'
  requirements.txt
Due: build_builder_image

Update for DGX Spark
  builder/samples/ds_app/Dockerfile.dgxspark
  builder/samples/ds_app/classification/README.md
  builder/samples/ds_app/detection/README.md
  builder/samples/ds_app/gdino/README.md
  builder/samples/ds_app/segmentation/README.md
Due: none

Spark Public Docker Update
  builder/samples/ds_app/Dockerfile.dgxspark
Due: none

Add sigvisual for segmentation model
  builder/samples/ds_app/segmentation/ds_segformer.yaml
  templates/backend/deepstream.jinja.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

VLLM backend support
  .gitlab-ci.yml
  builder/samples/docker-compose.yml
  builder/samples/dummy/dummy.yaml
  builder/samples/dummy/openapi.yaml
  builder/samples/qwen/Dockerfile
  builder/samples/qwen/README.md
  builder/samples/qwen/client.py
  builder/samples/qwen/openapi.yaml
  builder/samples/qwen/processors.py
  builder/samples/qwen/trtllm_qwen.yaml
  builder/samples/vllm/Dockerfile
  builder/samples/vllm/README.md
  builder/samples/vllm/vllm_cosmos.yaml
  builder/samples/vllm/vllm_nvdec_cosmos.yaml
  builder/samples/vllm/vllm_nvdec_qwen3_vl.yaml
  builder/samples/vllm/vllm_qwen3_vl.yaml
  builder/tests/Dockerfile
  builder/tests/README.md
  builder/tests/concurrency/app.yaml
  builder/tests/concurrency/assets/payloads.jsonl
  builder/tests/concurrency/processors.py
  builder/tests/frame_sampling/processors.py
  builder/tests/run_tests.sh
  builder/tests/setup_rtsp_server.sh
  builder/tests/test_configs.json
  builder/tests/test_docker_builds.py
  lib/inference.py
  lib/responder.py
  lib/utils.py
  templates/backend/dummy.jinja.py
  templates/backend/tensorrtllm.jinja.py
  templates/backend/vllm.jinja.py
  templates/generic/model.jinja.py
  templates/responder/healthy_ready.jinja.py
  templates/triton/model.jinja.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi
