Repository NVIDIA-AI-IOT/inference_builder: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_builder_image, build_deployer_image, build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Path conditions:
  build_builder_image: any of: requirements.txt, .Dockerfile.builder
  build_deployer_image: any of: deploy/requirements.deployer.sh, deploy/Dockerfile.deployer
  build_tao_common_nim: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
  build_tao_changenet_nim: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
  build_tao_gdino_nim: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
  build_tao_common_fastapi: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
  build_tao_changenet_fastapi: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
  build_tao_gdino_fastapi: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md

Update README.md
  README.md
Due: none

Update README.md
  builder/samples/README.md
Due: none

MCP as a service support
  .gitlab-ci.yml
  README.md
  claude.md
  mcp/README-MCP.md
  mcp/mcp_server.py
  mcp/server_manager.sh
  mcp/setup_local.py
  mcp/test_mcp_client.py
  mcp/test_mcp_server.py
  mcp/usage.md
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

OpenAI Codex Support
  .gitlab-ci.yml
  README.md
  builder/samples/changenet/Dockerfile
  builder/samples/cradio/Dockerfile
  builder/samples/cradio/export_onnx.py
  builder/samples/ds_app/Dockerfile
  builder/samples/ds_app/Dockerfile.dgxspark
  builder/samples/ds_app/Dockerfile.tegra
  builder/samples/dummy/Dockerfile
  builder/samples/nvclip/Dockerfile
  builder/samples/nvclip/optimizer/Dockerfile
  builder/samples/qwen/Dockerfile
  builder/samples/tao/Dockerfile
  builder/samples/vllm/Dockerfile
  builder/tests/Dockerfile
  builder/tests/test_configs.json
  builder/tests/unicode_strings/app.yaml
  builder/tests/unicode_strings/payloads/payloads.jsonl
  builder/tests/unicode_strings/processors.py
  lib/inference.py
  lib/utils.py
  mcp/mcp_server.py
  mcp/test_mcp_server.py
  skills/setup_skill.sh
  templates/api_server/fastapi/responder.jinja.py
  templates/api_server/nim/responder.jinja.py
  templates/api_server/triton/responder.jinja.py
  templates/backend/dummy.jinja.py
  templates/generic/model.jinja.py
  templates/triton/model.jinja.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

bump version
  VERSION
  builder/main.py
  builder/samples/README.md
  builder/samples/changenet/Dockerfile
  builder/samples/changenet/README.md
  builder/samples/changenet/test_config.json
  builder/samples/cradio/Dockerfile
  builder/samples/ds_app/Dockerfile
  builder/samples/ds_app/Dockerfile.dgxspark
  builder/samples/ds_app/Dockerfile.tegra
  builder/samples/dummy/Dockerfile
  builder/samples/nvclip/Dockerfile
  builder/samples/qwen/Dockerfile
  builder/samples/qwen/payloads/videos.jsonl
  builder/samples/tao/Dockerfile
  builder/samples/tao/HOWTO.md
  builder/samples/tao/validation/build.py
  builder/samples/vllm/Dockerfile
  builder/samples/vllm/payloads/videos.jsonl
  builder/tests/Dockerfile
  builder/tests/README.md
  builder/tests/test_docker_builds.py
  doc/platform-guide.md
  doc/usage.md
  schemas/config.schema.json
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

feat(codec): add VideoEncoder and VideoOutputDataFlow for H.264 MP4 output [DSNEX-5773]
  lib/asset_manager.py
  lib/codec.py
  lib/inference.py
  schemas/config.schema.json
  tests/test_asset_manager_create_from_path.py
  tests/test_codec_video_encoder.py
  tests/test_schema_and_bind_output.py
  tests/test_video_output_dataflow.py
  tests/test_video_pipeline_integration.py
Due: none

Performance Fix
  builder/samples/ds_app/gdino/ds_gdino.yaml
  builder/samples/tao/ds_gdino.yaml
  schemas/common/base-model.schema.json
  schemas/config.schema.json
  skills/inference-builder/SKILL.md
  templates/backend/deepstream.jinja.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

DSNEX-5773 add custom video output validation
  .gitlab-ci.yml
  builder/tests/README.md
  builder/tests/test_configs.json
  builder/tests/video_output/app.yaml
  builder/tests/video_output/models/.gitkeep
  builder/tests/video_output/processors.py
  lib/asset_manager.py
  lib/codec.py
  lib/inference.py
  pytest.ini
  schemas/README.md
  schemas/common/base-model.schema.json
  schemas/common/definitions.schema.json
  schemas/config.schema.json
  tests/conftest.py
  tests/test_codec_video_encoder.py
  tests/test_schema_and_bind_output.py
  tests/test_video_output_dataflow.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

DSNEX-5773 split video output return types
  builder/tests/README.md
  builder/tests/test_configs.json
  builder/tests/video_output/app.yaml
  builder/tests/video_output/processors.py
  lib/codec.py
  lib/inference.py
  schemas/README.md
  schemas/common/base-model.schema.json
  schemas/common/definitions.schema.json
  schemas/config.schema.json
  tests/test_schema_and_bind_output.py
  tests/test_video_output_dataflow.py
  tests/test_video_pipeline_integration.py
Due: none

Update test_configs.json
  builder/tests/test_configs.json
Due: none

Fix CUDA version in ds_app aarch64 Dockerfiles
  builder/samples/ds_app/Dockerfile.dgxspark
  builder/samples/ds_app/Dockerfile.tegra
Due: none

fix(tao/gdino): stabilize sigmoid to avoid overflow on mask_gdino
  builder/samples/tao/processors.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

docs(ds_app/detection): add download steps for resnet and peoplenet_transformer
  builder/samples/ds_app/detection/README.md
Due: none

fix(tao/gdino): stabilize sigmoid to avoid overflow on mask_gdino
  builder/samples/ds_app/Dockerfile.dgxspark
  builder/samples/ds_app/Dockerfile.tegra
  builder/samples/ds_app/detection/README.md
  builder/samples/tao/processors.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Add Sonar to CI/CD
  .gitlab-ci.yml
  sonar-project.properties
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

docs(ds_app/detection): clarify ds_detect.yaml must also be updated per model
  builder/samples/ds_app/detection/README.md
Due: none

CVE fix
  requirements.txt
Due: build_builder_image

Upgrade protobuf to 6.31.1
  builder/triton/model_config_pb2.py
  requirements.txt
Due: build_builder_image

Upgrade protobuf to 6.33.5
  builder/triton/model_config_pb2.py
  requirements.txt
Due: build_builder_image

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Revert "CVE fix"
  requirements.txt
Due: build_builder_image

Update leftover licenses
  builder/samples/changenet/Dockerfile
  builder/samples/docker-compose.yml
  builder/samples/ds_app/test_data/source_config.yaml
  builder/samples/dummy/Dockerfile
  builder/samples/nvclip/Dockerfile
  builder/samples/qwen/Dockerfile
  builder/samples/tao/Dockerfile
  builder/samples/vllm/Dockerfile
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Update DeepStream base images to 26.05.2
  builder/samples/README.md
  builder/samples/changenet/Dockerfile
  builder/samples/cradio/Dockerfile
  builder/samples/ds_app/Dockerfile
  builder/samples/ds_app/Dockerfile.dgxspark
  builder/samples/ds_app/Dockerfile.tegra
  builder/samples/dummy/Dockerfile
  builder/samples/nvclip/Dockerfile
  builder/samples/qwen/Dockerfile
  builder/samples/tao/Dockerfile
  builder/samples/tao/HOWTO.md
  builder/samples/vllm/Dockerfile
  builder/tests/Dockerfile
  doc/platform-guide.md
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Fix LD_LIBRARY_PATH for DS 26.05.2 hpcx UCX compatibility on Tegra
  builder/samples/ds_app/Dockerfile.tegra
Due: none

Update DeepStream base images to 26.06.1
  builder/samples/README.md
  builder/samples/changenet/Dockerfile
  builder/samples/cradio/Dockerfile
  builder/samples/ds_app/Dockerfile
  builder/samples/ds_app/Dockerfile.tegra
  builder/samples/dummy/Dockerfile
  builder/samples/nvclip/Dockerfile
  builder/samples/qwen/Dockerfile
  builder/samples/tao/Dockerfile
  builder/samples/tao/HOWTO.md
  builder/samples/vllm/Dockerfile
  builder/tests/Dockerfile
  doc/platform-guide.md
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Add Jetson Orin external storage requirement note to docs
  README.md
  doc/platform-guide.md
Due: none

Update DeepStream base images from internal gitlab to nvcr.io/nvstaging
  builder/samples/README.md
  builder/samples/changenet/Dockerfile
  builder/samples/cradio/Dockerfile
  builder/samples/ds_app/Dockerfile
  builder/samples/ds_app/Dockerfile.dgxspark
  builder/samples/ds_app/Dockerfile.tegra
  builder/samples/dummy/Dockerfile
  builder/samples/nvclip/Dockerfile
  builder/samples/qwen/Dockerfile
  builder/samples/tao/Dockerfile
  builder/samples/tao/HOWTO.md
  builder/samples/vllm/Dockerfile
  builder/tests/Dockerfile
  doc/platform-guide.md
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Bump nvclip optimizer base image to tritonserver:26.03-py3
  builder/samples/nvclip/optimizer/Dockerfile
Due: none

Bump DeepStream base images to 26.06.1.2
  builder/samples/README.md
  builder/samples/changenet/Dockerfile
  builder/samples/cradio/Dockerfile
  builder/samples/ds_app/Dockerfile
  builder/samples/ds_app/Dockerfile.dgxspark
  builder/samples/ds_app/Dockerfile.tegra
  builder/samples/dummy/Dockerfile
  builder/samples/nvclip/Dockerfile
  builder/samples/qwen/Dockerfile
  builder/samples/tao/Dockerfile
  builder/samples/tao/HOWTO.md
  builder/samples/vllm/Dockerfile
  builder/tests/Dockerfile
  doc/platform-guide.md
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Use Triton DeepStream base image instead of samples variant
  builder/samples/README.md
  builder/samples/changenet/Dockerfile
  builder/samples/cradio/Dockerfile
  builder/samples/ds_app/Dockerfile
  builder/samples/ds_app/Dockerfile.tegra
  builder/samples/dummy/Dockerfile
  builder/samples/nvclip/Dockerfile
  builder/samples/qwen/Dockerfile
  builder/samples/tao/Dockerfile
  builder/samples/tao/HOWTO.md
  builder/samples/vllm/Dockerfile
  builder/tests/Dockerfile
  doc/platform-guide.md
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Use public DeepStream 9.1 images
  builder/samples/README.md
  builder/samples/changenet/Dockerfile
  builder/samples/cradio/Dockerfile
  builder/samples/ds_app/Dockerfile
  builder/samples/ds_app/Dockerfile.dgxspark
  builder/samples/ds_app/Dockerfile.tegra
  builder/samples/dummy/Dockerfile
  builder/samples/nvclip/Dockerfile
  builder/samples/qwen/Dockerfile
  builder/samples/tao/Dockerfile
  builder/samples/tao/HOWTO.md
  builder/samples/vllm/Dockerfile
  builder/tests/Dockerfile
  doc/platform-guide.md
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Clean public release artifacts
  README.md
  builder/samples/tao/ib_client.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi
