Repository NVIDIA-AI-IOT/inference_builder: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_builder_image, build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

Path conditions:
  build_builder_image: any of: requirements.txt, .Dockerfile.builder
  build_tao_common.val_rtdetr: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
  build_tao_common.val_cls: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
  build_tao_common.val_seg: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
  build_tao_changenet: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
  build_tao_gdino.val_gdino: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
  build_tao_gdino.val_mgdino: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md

Create a new fastapi server template
  builder/samples/changenet/README
  builder/samples/vila/README
  templates/api_server/fastapi/responder.jinja.py
  templates/api_server/fastapi/route/inference.jinja2
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

Hot fix on changenet
  builder/samples/docker-compose.yml
  builder/samples/tao/ds_changenet.yaml
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

switch dry-run to clean fastapi
  builder/samples/docker-compose.yml
  builder/samples/dummy/Dockerfile
  builder/samples/dummy/Dockerfile.nim
  builder/samples/dummy/dummy.yaml
Due: none

add workable eval script
  builder/samples/tao/evaluation/README.md
  builder/samples/tao/evaluation/coco_eval.py
  builder/samples/tao/evaluation/coco_predictions.test.json
  builder/samples/tao/evaluation/combined_eval.py
  builder/samples/tao/evaluation/create_coco_subset.py
  builder/samples/tao/evaluation/evaluation.py
  builder/samples/tao/evaluation/evaluation_runner.py
  builder/samples/tao/evaluation/predictions.json
  builder/samples/tao/evaluation/tao_deploy_prediction_format.json
  builder/samples/tao/nim_client.py
  templates/generic/model.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

cleanup
  builder/samples/tao/evaluation/README.md
  builder/samples/tao/evaluation/coco_eval.py
  builder/samples/tao/evaluation/coco_prediction_format.json
  builder/samples/tao/evaluation/evaluation_runner.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

cleanup 2
  builder/samples/tao/evaluation/test_validation.json
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

Improve debugging
  lib/codec.py
  lib/inference.py
  templates/backend/polygraphy.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

Add nim api type
  builder/boilerplates/nim/cookiecutter.json
  builder/boilerplates/nim/{{cookiecutter.service_name}}/__main__.py
  builder/boilerplates/nim/{{cookiecutter.service_name}}/config/__init__.py
  builder/boilerplates/nim/{{cookiecutter.service_name}}/custom/__init__.py
  builder/boilerplates/nim/{{cookiecutter.service_name}}/lib/__init__.py
  builder/boilerplates/nim/{{cookiecutter.service_name}}/server/__init__.py
Due: none

Improve logging
  lib/codec.py
  lib/inference.py
Due: none

Update Tao Tags
  builder/samples/tao/docker-compose.yaml
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

enable category in COCO eval
  builder/samples/tao/evaluation/combined_eval.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

Enhance error messages
  lib/inference.py
  templates/backend/deepstream.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

Add qwen-vl sample for vlm
  builder/samples/docker-compose.yml
  builder/samples/qwen/Dockerfile.nim
  builder/samples/qwen/README
  builder/samples/qwen/client.py
  builder/samples/qwen/dependencies.yaml
  builder/samples/qwen/openapi.yaml
  builder/samples/qwen/processors.py
  builder/samples/qwen/trtllm_qwen.yaml
  lib/inference.py
  templates/backend/deepstream.jinja.py
  templates/backend/dummy.jinja.py
  templates/backend/polygraphy.jinja.py
  templates/backend/tensorrtllm.jinja.py
  templates/backend/triton.jinja.py
  templates/triton/model.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

Add pytorch backend for VLMs
  builder/main.py
  builder/samples/qwen/Dockerfile.nim
  builder/samples/qwen/README
  builder/samples/qwen/dependencies.yaml
  builder/samples/qwen/openapi.yaml
  builder/samples/qwen/processors.py
  builder/samples/qwen/pytorch_qwen.yaml
  lib/inference.py
  templates/api_server/nim/responder.jinja.py
  templates/api_server/nim/route/inference.jinja2
  templates/backend/pytorch.jinja.py
  templates/generic/model.jinja.py
  templates/responder/add_file.jinja.py
  templates/responder/del_file.jinja.py
  templates/responder/infer.jinja.py
  templates/responder/list_files.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

Add video support
  builder/samples/qwen/README
  builder/samples/qwen/client.py
  builder/samples/qwen/openapi.yaml
  builder/samples/qwen/processors.py
  builder/samples/qwen/pytorch_qwen.yaml
  lib/inference.py
Due: none

Update README of the qwen sample
  builder/samples/qwen/README
Due: none

add semantic segmentation eval algo
  builder/samples/tao/evaluation/README.md
  builder/samples/tao/evaluation/detection_eval.py
  builder/samples/tao/evaluation/semantic_segmentation_eval.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

tensorrt_llm pytorch backend support
  builder/samples/qwen/Dockerfile.nim
  builder/samples/qwen/README
  builder/samples/qwen/client.py
  builder/samples/qwen/pytorch_qwen.yaml
  builder/samples/qwen/trtllm_qwen.yaml
  lib/inference.py
  templates/backend/tensorrtllm.jinja.py
  templates/generic/model.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

Fix Vila
  builder/samples/vila/tensorrt_vila1.5.yaml
Due: none

Update qwen README
  builder/samples/qwen/README
Due: none

Force pytorch model to a single device
  templates/backend/pytorch.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

Enable optional flow
  lib/inference.py
Due: none

Enable nvdsdynamicsrcbin for frame sampling
  builder/samples/dummy/Dockerfile
  lib/inference.py
  templates/api_server/fastapi/responder.jinja.py
  templates/api_server/fastapi/route/inference.jinja2
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

Apply multiple data flow race condition fix
  builder/samples/dummy/test_client.py
  lib/inference.py
  requirements.txt
  templates/api_server/fastapi/responder.jinja.py
  templates/api_server/nim/responder.jinja.py
Due: build_builder_image, build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

Fix ndjson payload
  templates/api_server/fastapi/responder.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

add eval for classification
  builder/samples/tao/evaluation/README.md
  builder/samples/tao/evaluation/classification_eval.py
  builder/samples/tao/evaluation/eg.experiment.cls.yaml
  builder/samples/tao/evaluation/eg.experiment.seg.yaml
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

update nvds configs for rtdetr, segformer, classifier
  builder/samples/tao/evaluation/README.md
  builder/samples/tao/validation/cls/nvdsinfer_config.yaml
  builder/samples/tao/validation/rtdetr/nvdsinfer_config.yaml
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

Add deepstream application support as a new sample
  builder/samples/docker-compose.yml
  builder/samples/ds_app/Dockerfile
  builder/samples/ds_app/README
  builder/samples/ds_app/ds_app.yaml
  builder/samples/tao/openapi.yaml
  templates/api_server/fastapi/responder.jinja.py
  templates/api_server/nim/responder.jinja.py
  templates/backend/deepstream.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

Add tracker support on deepstream backend
  builder/samples/ds_app/README
  builder/samples/ds_app/ds_app.yaml
  builder/samples/tao/openapi.yaml
  templates/backend/deepstream.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

track the updated labels.txt that reflects tao-deploy coco remap
  builder/samples/tao/validation/rtdetr/expected.iva_0010_02_1280_0_181016_007207.json
  builder/samples/tao/validation/rtdetr/labels.txt
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

Update API to latest TensorRT LLM
  builder/samples/qwen/Dockerfile.nim
  builder/samples/qwen/pytorch_qwen.yaml
  builder/samples/qwen/trtllm_qwen.yaml
  templates/backend/tensorrtllm.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

Enable Deepstream standalone app support
  builder/boilerplates/fastapi/{{cookiecutter.service_name}}/inference.py
  builder/boilerplates/serverless/cookiecutter.json
  builder/boilerplates/serverless/{{cookiecutter.service_name}}/__main__.py
  builder/boilerplates/serverless/{{cookiecutter.service_name}}/app/__init__.py
  builder/boilerplates/serverless/{{cookiecutter.service_name}}/config/__init__.py
  builder/boilerplates/serverless/{{cookiecutter.service_name}}/custom/__init__.py
  builder/boilerplates/serverless/{{cookiecutter.service_name}}/lib/__init__.py
  builder/main.py
  builder/samples/docker-compose.yml
  builder/samples/ds_app/Dockerfile
  builder/samples/ds_app/README
  builder/samples/ds_app/ds_app.yaml
  lib/inference.py
  templates/backend/deepstream.jinja.py
  templates/generic/model.jinja.py
  templates/serverless/inference.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

Fix handling empty queue
  lib/inference.py
  templates/backend/deepstream.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

Cherry pick the change for enabling image and video on the same ep
  lib/inference.py
Due: none

Combine the log information on batch complete
  templates/generic/model.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

[deepstream-app] Add retry after timeout
  templates/generic/model.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

[deepstream-app] Graceful Exit
  templates/generic/model.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

[deepstream-app] Add warmup for video URL input for the first run
  README.md
  templates/backend/deepstream.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

aggregation collector fix: adapting to the new timeout value
  lib/inference.py
  templates/triton/model.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino
