Repository NVIDIA-AI-IOT/inference_builder: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_builder_image, build_tao_inference, build_tao_docker

build_builder_image:
  stage: build-builder
  image: docker:24.0
  services:
  - docker:24.0-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
  script:
  - docker login $CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
  - docker build -t $BUILDER_IMAGE -f .Dockerfile.builder .
  - docker push $BUILDER_IMAGE

build_tao_inference:
  stage: build-inference
  image: $BUILDER_IMAGE
  script:
  - python builder/main.py builder/samples/tao/ds_tao.yaml --server-type fastapi -a builder/samples/tao/openapi.yaml -v builder/samples/tao/validation/rtdetr --no-docker -o builder/samples/tao -t
  artifacts:
    paths:
    - builder/samples/tao/tao.tgz
  ...

build_tao_docker:
  stage: build-docker
  image: docker:24.0
  services:
  - docker:24.0-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
  dependencies:
  - build_tao_inference
  script:
  - docker login $CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
  - cd builder/samples
  - docker compose build nim-tao
  ...

fix .gitlab-ci.yaml to build tao that need customized processors
  .gitlab-ci.yml
Due: none

remove docker build from pipeline
  .gitlab-ci.yml
Due: none

fixup
  .gitlab-ci.yml
Due: none

enable build segformer validation
  .gitlab-ci.yml
Due: none

update
  .gitlab-ci.yml
  builder/samples/tao/HOWTO.md
Due: build_tao_inference, build_tao_docker

fixup ci
  .gitlab-ci.yml
Due: none

fixup ci exclude .md
  .gitlab-ci.yml
Due: none

buster docker build CACHE from ds_tao_apps_src layer and below
  .gitlab-ci.yml
  builder/samples/tao/Dockerfile
  builder/samples/tao/HOWTO.md
Due: build_tao_inference, build_tao_docker

remove disable cache from HOWTO
  builder/samples/tao/HOWTO.md
Due: build_tao_inference, build_tao_docker

resurrect the nvclip sample to demostrate polygraphy backend
  builder/main.py
  builder/samples/docker-compose.yml
  builder/samples/nvclip/Dockerfile
  builder/samples/nvclip/README
  builder/samples/nvclip/dependencies.yaml
  builder/samples/nvclip/openapi.yaml
  builder/samples/nvclip/processors.py
  builder/samples/nvclip/tensorrt_nvclip.yaml
  builder/samples/nvclip/test_client.sh
  lib/inference.py
  templates/api_server/triton/inference.jinja.py
  templates/backend/polygraphy.jinja.py
  templates/generic/model.jinja.py
  templates/responder/infer.jinja.py
Due: build_tao_inference, build_tao_docker

Combine triton server
  builder/boilerplates/triton/{{cookiecutter.service_name}}/__main__.py
  builder/boilerplates/triton/{{cookiecutter.service_name}}/config/__init__.py
  builder/main.py
  builder/samples/changenet/Dockerfile
  builder/samples/changenet/dependencies.yaml
  builder/samples/changenet/openapi.yaml
  builder/samples/changenet/trt_changenet.yaml
  builder/samples/docker-compose.yml
  builder/samples/nvclip/dependencies.yaml
  lib/responder.py
  templates/api_server/fastapi/responder.jinja.py
  templates/api_server/triton/inference.jinja.py
  templates/api_server/triton/responder.jinja.py
  templates/api_server/triton/route/inference.jinja2
Due: build_tao_inference, build_tao_docker

Adjust changenet sample
  .vscode/launch.json
  builder/samples/changenet/Dockerfile
  builder/samples/changenet/README
  builder/samples/changenet/dependencies.yaml
  builder/samples/changenet/processors.py
  builder/samples/changenet/trt_changenet.yaml
  builder/samples/tao/HOWTO.md
  lib/codec.py
  lib/inference.py
  requirements.txt
  templates/api_server/triton/responder.jinja.py
Due: build_builder_image, build_tao_inference, build_tao_docker

Remove obsolete samples
  builder/samples/docker-compose.yml
  builder/samples/nvdinov2/Dockerfile
  builder/samples/nvdinov2/README
  builder/samples/nvdinov2/config_inferserver_nvdinov2.txt
  builder/samples/nvdinov2/dependencies.yaml
  builder/samples/nvdinov2/ds_nvdinov2.yaml
  builder/samples/nvdinov2/model_manifest.yaml
  builder/samples/nvdinov2/nim_client.py
  builder/samples/nvdinov2/openapi.yaml
  builder/samples/nvsegformer/Dockerfile
  builder/samples/nvsegformer/README
  builder/samples/nvsegformer/config_nvinfer.txt
  builder/samples/nvsegformer/dependencies.yaml
  builder/samples/nvsegformer/ds_nvsegformer.yaml
  builder/samples/nvsegformer/nim_client.py
  builder/samples/nvsegformer/openapi.yaml
  builder/samples/rtdetr/Dockerfile
  builder/samples/rtdetr/README
  builder/samples/rtdetr/config_nvinfer.txt
  builder/samples/rtdetr/dependencies.yaml
  builder/samples/rtdetr/ds_rtdetr.yaml
  builder/samples/rtdetr/nim_client.py
  builder/samples/rtdetr/openapi.yaml
Due: none

download model and config from ngc like nim
  builder/boilerplates/fastapi/{{cookiecutter.service_name}}/inference.py
  builder/samples/docker-compose.yml
  builder/samples/tao/Dockerfile
  builder/samples/tao/LICENSE
  builder/samples/tao/VERSION
  builder/samples/tao/docker-compose.yaml
  builder/samples/tao/validation/cls/model_manifest.generate.sh
  builder/samples/tao/validation/cls/model_manifest.profile.yaml
  builder/samples/tao/validation/cls/model_manifest.yaml
  builder/samples/tao/validation/gdino/model_manifest.generate.sh
  builder/samples/tao/validation/gdino/model_manifest.profile.yaml
  builder/samples/tao/validation/gdino/model_manifest.yaml
  builder/samples/tao/validation/mgdino/model_manifest.generate.sh
  builder/samples/tao/validation/mgdino/model_manifest.profile.yaml
  builder/samples/tao/validation/mgdino/model_manifest.yaml
  builder/samples/tao/validation/rtdetr/model_manifest.generate.sh
  builder/samples/tao/validation/rtdetr/model_manifest.profile.yaml
  builder/samples/tao/validation/rtdetr/model_manifest.yaml
  builder/samples/tao/validation/seg/model_manifest.generate.sh
  builder/samples/tao/validation/seg/model_manifest.profile.yaml
  builder/samples/tao/validation/seg/model_manifest.yaml
Due: build_tao_inference, build_tao_docker

cleanup
  builder/samples/docker-compose.yml
Due: none

Update VILA configuration
  builder/samples/docker-compose.yml
  builder/samples/vila/Dockerfile
  builder/samples/vila/README
  builder/samples/vila/processors.py
  builder/samples/vila/server_run.sh
  builder/samples/vila/tensorrt_vila1.5.yaml
  lib/inference.py
  lib/responder.py
  requirements.txt
  templates/common/custom.__init__.jinja.py
Due: build_builder_image, build_tao_inference, build_tao_docker

Update route parsing
  builder/samples/vila/api_client.sh
  lib/inference.py
  templates/responder/infer.jinja.py
Due: build_tao_inference, build_tao_docker

Fix nvclip output
  lib/inference.py
Due: none

Adjust vila route
  builder/samples/vila/tensorrt_vila1.5.yaml
  lib/inference.py
Due: none

Update top level output routing fix
  lib/inference.py
Due: none

Introduce the unified model_repo configuration
  builder/samples/changenet/README
  builder/samples/changenet/trt_changenet.yaml
  builder/samples/nvclip/README
  builder/samples/nvclip/processors.py
  builder/samples/nvclip/tensorrt_nvclip.yaml
  builder/samples/tao/ds_changenet.yaml
  builder/samples/tao/ds_gdino.yaml
  builder/samples/tao/ds_tao.yaml
  builder/samples/vila/processors.py
  lib/inference.py
  templates/backend/deepstream.jinja.py
  templates/backend/polygraphy.jinja.py
  templates/backend/tensorrtllm.jinja.py
  templates/backend/triton.jinja.py
  templates/generic/model.jinja.py
  templates/triton/model.jinja.py
Due: build_tao_inference, build_tao_docker

Remove environment variable dependancy from VILA NIM
  builder/samples/docker-compose.yml
  builder/samples/vila/Dockerfile
  builder/samples/vila/README
  builder/samples/vila/server_run.sh
  builder/samples/vila/tensorrt_vila1.5.yaml
  lib/inference.py
  templates/backend/tensorrtllm.jinja.py
Due: build_tao_inference, build_tao_docker

Update documentation
  README.md
  builder/samples/vila/tensorrt_vila1.5.yaml
Due: none

Update the container tag
  builder/samples/tao/HOWTO.md
Due: build_tao_inference, build_tao_docker

Fix indentation error
  templates/backend/deepstream.jinja.py
Due: build_tao_inference, build_tao_docker

Fix batching in grounding dino
  templates/backend/deepstream.jinja.py
Due: build_tao_inference, build_tao_docker

hotfix
  builder/samples/tao/helm/services/tao-cv/configs/model_manifest.seg.yaml
  builder/samples/tao/helm/services/tao-cv/manifest.yaml
  builder/samples/tao/helm/tao-cv-app/Makefile
  builder/samples/tao/helm/tao-cv-app/tao-cv-app.yaml
  builder/samples/tao/validation/seg/model_manifest.profile.yaml
  builder/samples/tao/validation/seg/model_manifest.yaml
  builder/samples/tao/validation/seg/nvdsinfer_config.yaml
Due: build_tao_inference, build_tao_docker

update HOWTO and minor ci naming update
  builder/samples/tao/HOWTO.md
  deploy/.gitlab-ci.deploy.yml
Due: build_tao_inference, build_tao_docker

Fix Deepstream Batching
  templates/backend/deepstream.jinja.py
Due: build_tao_inference, build_tao_docker

Video support for grounding dino
  builder/samples/tao/ds_changenet.yaml
  builder/samples/tao/ds_gdino.yaml
  templates/backend/deepstream.jinja.py
Due: build_tao_inference, build_tao_docker

init evaluation, inprogress
  builder/samples/tao/evaluation/coco_prediction_format.json
  builder/samples/tao/evaluation/evaluation.py
  builder/samples/tao/evaluation/tao_deploy_prediction_format.json
Due: build_tao_inference, build_tao_docker

init eval
  builder/samples/tao/evaluation/README.md
  builder/samples/tao/evaluation/coco_predictions.test.json
  builder/samples/tao/evaluation/evaluation_runner.py
  builder/samples/tao/evaluation/predictions.json
  builder/samples/tao/evaluation/test_validation.json
  builder/samples/tao/nim_client.py
Due: build_tao_inference, build_tao_docker

Add a dummy backend for debugging the flow
  builder/samples/docker-compose.yml
  builder/samples/dummy/Dockerfile
  builder/samples/dummy/README
  builder/samples/dummy/dependencies.yaml
  builder/samples/dummy/dummy.yaml
  builder/samples/dummy/openapi.yaml
  builder/samples/dummy/processors.py
  builder/samples/nvclip/processors.py
  lib/inference.py
  lib/responder.py
  templates/backend/dummy.jinja.py
  templates/generic/model.jinja.py
  templates/triton/model.jinja.py
Due: build_tao_inference, build_tao_docker

Multiple input data flow for dummy backend
  builder/samples/dummy/dummy.yaml
  builder/samples/dummy/openapi.yaml
  builder/samples/dummy/processors.py
  lib/asset_manager.py
  lib/inference.py
  templates/api_server/fastapi/responder.jinja.py
  templates/backend/deepstream.jinja.py
  templates/backend/dummy.jinja.py
  templates/generic/model.jinja.py
  templates/triton/model.jinja.py
Due: build_tao_inference, build_tao_docker

Update README
  README.md
Due: none

Fix Vila with Aggragate Flow Collector
  lib/inference.py
  templates/generic/model.jinja.py
Due: build_tao_inference, build_tao_docker

Update README
  builder/samples/dummy/README
Due: none

Rename "fastapi" to "nim"
  builder/main.py
  templates/api_server/nim/responder.jinja.py
  templates/api_server/nim/route/inference.jinja2
Due: build_tao_inference, build_tao_docker

Path conditions:
  build_builder_image: any of: requirements.txt, .Dockerfile.builder
  build_tao_inference: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*
  build_tao_docker: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*
