Repository NVIDIA-AI-IOT/inference_builder: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_builder_image, build_deployer_image, build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Path conditions:
  build_builder_image: any of: requirements.txt, .Dockerfile.builder
  build_deployer_image: any of: deploy/requirements.deployer.sh, deploy/Dockerfile.deployer
  build_tao_common_nim: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
  build_tao_changenet_nim: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
  build_tao_gdino_nim: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
  build_tao_common_fastapi: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
  build_tao_changenet_fastapi: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
  build_tao_gdino_fastapi: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md

Fix Issue 4
  builder/samples/changenet/README.md
  builder/samples/changenet/processors.py
  builder/samples/docker-compose.yml
  builder/samples/dummy/processors.py
  builder/samples/nvclip/processors.py
  builder/samples/tao/processors.py
  builder/samples/vila/processors.py
  builder/tests/output_types/app.yaml
  builder/tests/output_types/assets/payloads.jsonl
  builder/tests/output_types/processors.py
  builder/tests/test_configs.json
  builder/tests/test_docker_builds.py
  templates/api_server/fastapi/route/inference.jinja2
  templates/backend/dummy.jinja.py
  templates/generic/model.jinja.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Unlock the concurrency for async call
  builder/samples/qwen/client.py
  builder/samples/vllm/vllm_cosmos.yaml
  lib/inference.py
  templates/api_server/fastapi/responder.jinja.py
  templates/backend/dummy.jinja.py
  templates/generic/model.jinja.py
  templates/responder/infer.jinja.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Add automatic sanity test for ds-app and add it to CI
  .gitlab-ci.yml
  builder/openapitools.json
  builder/samples/ds_app/Dockerfile
  builder/samples/ds_app/classification/README.md
  builder/samples/ds_app/classification/ds_changenet.yaml
  builder/samples/ds_app/classification/ds_pcb.yaml
  builder/samples/ds_app/detection/ds_detect.yaml
  builder/samples/ds_app/gdino/ds_gdino.yaml
  builder/samples/ds_app/segmentation/ds_segformer.yaml
  builder/samples/ds_app/test_config.json
  builder/samples/ds_app/test_data/pass_0.png
  builder/samples/ds_app/test_data/pass_1.png
  builder/samples/tao/ds_changenet.yaml
  builder/samples/tao/ds_gdino.yaml
  builder/samples/tao/ds_tao.yaml
  builder/samples/tao/ib_client.py
  builder/samples/tao/openapi.yaml
  builder/samples/tao/test_config.json
  builder/samples/tao/validation/rtdetr/expected.iva_0010_02_1280_0_181016_007207.json
  builder/tests/README.md
  builder/tests/test_docker_builds.py
  builder/validate.py
  templates/backend/deepstream.jinja.py
  templates/client/test_runner.jinja.py
  templates/common/config.jinja.py
  templates/generic/model.jinja.py
  templates/serverless/inference.jinja.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Add web video support
  builder/tests/Dockerfile
  builder/tests/concurrency/payloads/payloads.jsonl
  builder/tests/frame_sampling/assets/34888cef-8d7a-4de9-80f2-7a6a11974d6f/info.json
  builder/tests/frame_sampling/assets/b69d7248-b351-4239-9819-4005e5375850/info.json
  builder/tests/frame_sampling/assets/fcf490e3-a64b-4dc9-95db-dcdba90032b3/info.json
  builder/tests/output_types/payloads/payloads.jsonl
  builder/tests/test_configs.json
  builder/tests/test_docker_builds.py
  lib/asset_manager.py
  lib/inference.py
Due: none

Separate the server type definition from code to a file
  builder/allowed_servers.txt
  builder/main.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Set the release rule
  .gitlab-ci.yml
  builder/allowed_servers.txt
  templates/api_server/triton/responder.jinja.py
  templates/api_server/triton/route/inference.jinja2
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Formalize the error handling
  builder/samples/ds_app/test_config.json
  builder/samples/qwen/test_config.json
  builder/samples/tao/test_config.json
  builder/tests/negative/df_1.yaml
  builder/tests/negative/df_2.yaml
  builder/tests/negative/df_3 copy.yaml
  builder/tests/negative/df_3.yaml
  builder/tests/negative/image.yaml
  builder/tests/negative/mo_1.yaml
  builder/tests/negative/mo_2.yaml
  builder/tests/negative/model.yaml
  builder/tests/negative/payloads/payloads.jsonl
  builder/tests/negative/pp_1.yaml
  builder/tests/negative/pp_2.yaml
  builder/tests/negative/pp_3.yaml
  builder/tests/negative/processors.py
  builder/tests/negative/route_1.yaml
  builder/tests/negative/route_2.yaml
  builder/tests/negative/route_3.yaml
  builder/tests/negative/route_4.yaml
  builder/tests/negative/route_5.yaml
  builder/tests/negative/video.yaml
  builder/tests/test_configs.json
  builder/tests/test_docker_builds.py
  lib/errors.py
  lib/inference.py
  templates/api_server/fastapi/responder.jinja.py
  templates/generic/model.jinja.py
  templates/responder/infer.jinja.py
  templates/serverless/inference.jinja.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Asset uploading fix and vllm instruction correction
  builder/samples/qwen/test_config.json
  builder/samples/vllm/Dockerfile
  builder/samples/vllm/README.md
  builder/samples/vllm/test_config.json
  builder/tests/asset_management/app.yaml
  builder/tests/asset_management/payloads/assets.jsonl
  builder/tests/test_configs.json
  builder/tests/test_docker_builds.py
  lib/asset_manager.py
  lib/inference.py
  templates/responder/add_file.jinja.py
  templates/responder/add_live_stream.jinja.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Enhance error handling on frame sampling
  .gitlab-ci.yml
  builder/samples/vllm/payloads/videos.jsonl
  builder/tests/run_tests.sh
  builder/tests/test_docker_builds.py
  lib/errors.py
  lib/inference.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Add nvdsanalytics support for spatial analytics
  templates/backend/deepstream.jinja.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

SegVisual Output Bug Fix
  templates/backend/deepstream.jinja.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Update README
  README.md
  doc/usage.md
  lib/asset_manager.py
  mcp/README-MCP.md
  mcp/mcp_server.py
Due: none

Update allowed-server
  .gitattributes
  builder/allowed_servers.txt
Due: none

Claude Code support for MCP server
  .gitlab-ci.yml
  README.md
  mcp/README-MCP.md
  mcp/setup_mcp.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Merge mcp server list instead of replacing with a new one
  mcp/setup_mcp.py
Due: none

Clarify the nvinfer workflow
  mcp/README-MCP.md
  mcp/mcp_server.py
  schemas/README.md
  schemas/backends/parameters/deepstream-parameters.schema.json
  schemas/config.schema.json
Due: none

Fix CI
  builder/samples/ds_app/detection/ds_detect.yaml
  builder/samples/ds_app/gdino/ds_gdino.yaml
  builder/samples/ds_app/segmentation/ds_segformer.yaml
  builder/samples/ds_app/test_config.json
  builder/tests/test_docker_builds.py
  lib/inference.py
  templates/backend/deepstream.jinja.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Temporarily disable framesampling test
  builder/tests/test_configs.json
  lib/inference.py
Due: none

Code review feedback
  lib/inference.py
Due: none

Fix DS CI on image segmentation
  .gitattributes
  .gitlab-ci.yml
  README.md
  builder/allowed_servers.txt
  builder/boilerplates/nim/cookiecutter.json
  builder/boilerplates/nim/{{cookiecutter.service_name}}/config/__init__.py
  builder/boilerplates/nim/{{cookiecutter.service_name}}/custom/__init__.py
  builder/boilerplates/nim/{{cookiecutter.service_name}}/inference.py
  builder/boilerplates/nim/{{cookiecutter.service_name}}/lib/__init__.py
  builder/boilerplates/nim/{{cookiecutter.service_name}}/server/__init__.py
  builder/main.py
  builder/samples/changenet/openapi.yaml
  builder/samples/ds_app/README.md
  builder/samples/ds_app/detection/ds_detect.yaml
  builder/samples/ds_app/detection/peoplenet_transformer/labels.txt
  builder/samples/ds_app/detection/peoplenet_transformer/nvdsinfer_config.yaml
  builder/samples/ds_app/gdino/ds_gdino.yaml
  builder/samples/ds_app/segmentation/ds_segformer.yaml
  builder/samples/ds_app/test_config.json
  builder/samples/nvclip/openapi.yaml
  builder/samples/vllm/README.md
  builder/tests/test_configs.json
  builder/tests/test_docker_builds.py
  doc/usage.md
  lib/inference.py
  mcp/README-MCP.md
  mcp/mcp_server.py
  schemas/README.md
  schemas/backends/parameters/deepstream-parameters.schema.json
  schemas/config.schema.json
  templates/api_server/nim/responder.jinja.py
  templates/api_server/nim/route/inference.jinja2
  templates/api_server/triton/responder.jinja.py
  templates/api_server/triton/route/inference.jinja2
  templates/backend/deepstream.jinja.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Fix inconsistency between doc and the schema
  builder/samples/ds_app/README.md
  builder/samples/ds_app/detection/peoplenet_transformer/labels.txt
  builder/samples/ds_app/detection/peoplenet_transformer/nvdsinfer_config.yaml
  schemas/backends/parameters/deepstream-parameters.schema.json
  schemas/config.schema.json
Due: none

Temporarily disable some tests until fixes are availabe from DS SDK
  builder/tests/test_configs.json
  schemas/config.schema.json
Due: none

Review feedback
  builder/samples/ds_app/detection/peoplenet_transformer/nvdsinfer_config.yaml
  lib/inference.py
Due: none

Restore files deleted during release/0.0.2
  .gitlab-ci.yml
  builder/allowed_servers.txt
  builder/boilerplates/nim/cookiecutter.json
  builder/boilerplates/nim/{{cookiecutter.service_name}}/config/__init__.py
  builder/boilerplates/nim/{{cookiecutter.service_name}}/custom/__init__.py
  builder/boilerplates/nim/{{cookiecutter.service_name}}/inference.py
  builder/boilerplates/nim/{{cookiecutter.service_name}}/lib/__init__.py
  builder/boilerplates/nim/{{cookiecutter.service_name}}/server/__init__.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Clarify the Types for Agent
  .gitlab-ci.yml
  builder/samples/cradio/Dockerfile
  builder/samples/cradio/README.md
  builder/samples/cradio/ds_cradio.yaml
  builder/samples/cradio/export_onnx.py
  builder/samples/cradio/prepare_engine.sh
  builder/samples/cradio/processors.py
  builder/samples/cradio/test_config.json
  builder/samples/ds_app/classification/ds_changenet.yaml
  builder/samples/ds_app/classification/ds_pcb.yaml
  builder/samples/ds_app/detection/ds_detect.yaml
  builder/samples/ds_app/gdino/ds_gdino.yaml
  builder/samples/ds_app/segmentation/ds_segformer.yaml
  builder/samples/ds_app/test_config.json
  builder/samples/nvclip/Dockerfile
  builder/samples/nvclip/README.md
  builder/samples/qwen/test_config.json
  builder/samples/qwen/trtllm_qwen.yaml
  builder/samples/tao/ds_changenet.yaml
  builder/samples/tao/ds_gdino.yaml
  builder/samples/tao/ds_tao.yaml
  builder/samples/tao/processors.py
  builder/samples/tao/validation/rtdetr/expected.iva_0010_02_1280_0_181016_007207.json
  builder/samples/vllm/test_config.json
  builder/tests/test_docker_builds.py
  doc/usage.md
  lib/inference.py
  requirements.txt
  schemas/README.md
  schemas/common/definitions.schema.json
  schemas/config.schema.json
  templates/backend/deepstream.jinja.py
Due: build_builder_image, build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Bug fixing
  README.md
  builder/samples/README.md
  builder/samples/changenet/Dockerfile
  builder/samples/cradio/Dockerfile
  builder/samples/ds_app/Dockerfile
  builder/samples/ds_app/Dockerfile.tegra
  builder/samples/ds_app/README.md
  builder/samples/ds_app/classification/ds_pcb.yaml
  builder/samples/dummy/Dockerfile
  builder/samples/nvclip/Dockerfile
  builder/samples/qwen/Dockerfile
  builder/samples/tao/Dockerfile
  builder/samples/tao/HOWTO.md
  builder/samples/vllm/Dockerfile
  builder/tests/Dockerfile
  mcp/examples.md
  schemas/README.md
  schemas/backends/parameters/triton-parameters.schema.json
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Update base container image for Spark
  builder/samples/changenet/README.md
  builder/samples/ds_app/Dockerfile.dgxspark
  builder/samples/ds_app/Dockerfile.tegra
  builder/samples/ds_app/gdino/README.md
  builder/samples/qwen/README.md
  mcp/examples.md
Due: none

Update Docker for DS 9.0
  builder/samples/changenet/Dockerfile
  builder/samples/cradio/Dockerfile
  builder/samples/ds_app/Dockerfile
  builder/samples/ds_app/Dockerfile.dgxspark
  builder/samples/ds_app/Dockerfile.tegra
  builder/samples/dummy/Dockerfile
  builder/samples/nvclip/Dockerfile
  builder/samples/qwen/Dockerfile
  builder/samples/tao/Dockerfile
  builder/samples/tao/HOWTO.md
  builder/samples/vllm/Dockerfile
  builder/tests/Dockerfile
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Finetune the example prompts
  mcp/examples.md
Due: none

Update Docker to the latest version as per DS-9.0
  builder/samples/changenet/Dockerfile
  builder/samples/cradio/Dockerfile
  builder/samples/ds_app/Dockerfile
  builder/samples/ds_app/Dockerfile.tegra
  builder/samples/dummy/Dockerfile
  builder/samples/nvclip/Dockerfile
  builder/samples/qwen/Dockerfile
  builder/samples/tao/Dockerfile
  builder/samples/tao/HOWTO.md
  builder/samples/vllm/Dockerfile
  builder/tests/Dockerfile
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Update README to align with DS main doc
  README.md
  mcp/setup_mcp.py
Due: none

Add Test data to tegra and dgx docker
  builder/samples/ds_app/Dockerfile.dgxspark
  builder/samples/ds_app/Dockerfile.tegra
Due: none

Add analytics configuration into DS backend
  builder/samples/ds_app/README.md
  builder/samples/ds_app/detection/ds_detect.yaml
  schemas/backends/parameters/deepstream-parameters.schema.json
  templates/backend/deepstream.jinja.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

add yolo26s Deepstream Application
  mcp/examples.md
Due: none
