Repository NVIDIA-AI-IOT/inference_builder: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_builder_image, build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

build_builder_image:
  stage: build-builder
  image: docker:24.0
  services:
  - docker:24.0-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
  script:
  - docker login $CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
  - docker build -t $BUILDER_IMAGE -f .Dockerfile.builder .
  - docker push $BUILDER_IMAGE

build_tao_common.val_rtdetr:
  stage: build-inference
  image: $BUILDER_IMAGE
  script:
  - python builder/main.py builder/samples/tao/ds_${FLAVOR}.yaml --server-type fastapi -a builder/samples/tao/openapi.yaml -v builder/samples/tao/validation/${VALIDATION_MODEL} --no-docker -o builder/samples/tao -t
  ...

build_tao_common.val_cls:
  stage: build-inference
  image: $BUILDER_IMAGE
  script:
  - python builder/main.py builder/samples/tao/ds_${FLAVOR}.yaml --server-type fastapi -a builder/samples/tao/openapi.yaml -v builder/samples/tao/validation/${VALIDATION_MODEL} --no-docker -o builder/samples/tao -t
  ...

build_tao_common.val_seg:
  stage: build-inference
  image: $BUILDER_IMAGE
  script:
  - python builder/main.py builder/samples/tao/ds_${FLAVOR}.yaml --server-type fastapi -a builder/samples/tao/openapi.yaml -v builder/samples/tao/validation/${VALIDATION_MODEL} --no-docker -o builder/samples/tao -t
  ...

build_tao_changenet:
  stage: build-inference
  image: $BUILDER_IMAGE
  script:
  - python builder/main.py builder/samples/tao/ds_${FLAVOR}.yaml --server-type fastapi -a builder/samples/tao/openapi.yaml --no-docker -o builder/samples/tao -t
  - mv builder/samples/tao/tao.tgz builder/samples/tao/tao.${FLAVOR}.tgz
  artifacts:
  ...

build_tao_gdino.val_gdino:
  stage: build-inference
  image: $BUILDER_IMAGE
  script:
  ...

build_tao_gdino.val_mgdino:
  stage: build-inference
  image: $BUILDER_IMAGE
  script:
  ...

Add msgbroker support on deepstream backend
  builder/samples/ds_app/ds_app.yaml
  templates/backend/deepstream.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

Add render support on deepstream backend
  builder/samples/ds_app/ds_app.yaml
  templates/backend/deepstream.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

[deepstream-app] Fix batch size and number of input mismatch
  templates/backend/deepstream.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

[deepstream-app] Remove some false warnings on incorrect config
  templates/backend/deepstream.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

[vlm] Enable NVDEC
  builder/samples/qwen/Dockerfile.nim
  builder/samples/qwen/README
  builder/samples/qwen/processors.py
  builder/samples/qwen/trtllm_nvdec_qwen.yaml
  templates/backend/tensorrtllm.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

[vlm] fix formatting error
  templates/backend/tensorrtllm.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

[vlm] Disable kv cache for Qwen-VL
  builder/samples/qwen/trtllm_nvdec_qwen.yaml
  builder/samples/qwen/trtllm_qwen.yaml
Due: none

[vlm] Update README
  builder/samples/docker-compose.yml
  builder/samples/qwen/README
Due: none

[vlm] Add comments
  builder/samples/qwen/trtllm_nvdec_qwen.yaml
Due: none

Add Perf Measurement support to deepstream backend
  builder/samples/ds_app/ds_app.yaml
  templates/backend/deepstream.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

Add Perf Measurement support to deepstream backend
  builder/samples/ds_app/Dockerfile
Due: none

Add support for nvmultiurisrcbin
  builder/samples/ds_app/ds_app.yaml
  templates/backend/deepstream.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

[deepstream-app] Enable multiple source bin
  builder/samples/ds_app/README
  builder/samples/ds_app/ds_app.yaml
  lib/inference.py
  templates/backend/deepstream.jinja.py
  templates/generic/model.jinja.py
  templates/serverless/inference.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

[deepstream-app] Reenable msgbroker and display
  builder/samples/ds_app/ds_app.yaml
Due: none

[deepstream-app] change the default batch size to 4
  builder/samples/ds_app/ds_app.yaml
Due: none

[tao] Update base container image to DS 8.0
  builder/samples/docker-compose.yml
  builder/samples/tao/Dockerfile.nim
  builder/samples/tao/dependencies.yaml
  requirements.txt
  templates/api_server/fastapi/responder.jinja.py
  templates/responder/infer.jinja.py
Due: build_builder_image, build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

[tao] Fix nim server template
  templates/api_server/nim/responder.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

[tao] Rename entry point for nim server
  builder/boilerplates/nim/{{cookiecutter.service_name}}/inference.py
  builder/samples/tao/Dockerfile.nim
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

add back boilerplates/fastapi inference.py to boilerplates/nim
  builder/boilerplates/nim/{{cookiecutter.service_name}}/inference.py
Due: none

add main entrypoint as __main__.py is supposed to merge into inference.py
  builder/boilerplates/nim/{{cookiecutter.service_name}}/inference.py
Due: none

fix boilerplates/nim inference.py
  builder/boilerplates/nim/{{cookiecutter.service_name}}/inference.py
  builder/samples/docker-compose.yml
  builder/samples/tao/validation/rtdetr/model_manifest.profile.yaml
  builder/samples/tao/validation/rtdetr/model_manifest.yaml
  templates/generic/model.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

[vlm] Qwen: one MS for both video and image input
  builder/samples/docker-compose.yml
  builder/samples/qwen/README
  builder/samples/qwen/client.py
  builder/samples/qwen/processors.py
  builder/samples/qwen/trtllm_nvdec_qwen.yaml
  builder/samples/qwen/trtllm_qwen.yaml
  lib/inference.py
  templates/api_server/fastapi/responder.jinja.py
  templates/api_server/nim/responder.jinja.py
  templates/backend/tensorrtllm.jinja.py
  templates/generic/model.jinja.py
  templates/responder/infer.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

[deepstream-app] Increase inference timeout for ds-app
  builder/samples/ds_app/Dockerfile
  builder/samples/ds_app/ds_app.yaml
  templates/backend/deepstream.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

update validation expected data and some minor updates
  builder/samples/tao/nim_client.py
  builder/samples/tao/openapi.yaml
  builder/samples/tao/validation/cls/expected.ILSVRC2012_val_00001362.json
  builder/samples/tao/validation/cls/expected.ILSVRC2012_val_00002167.json
  builder/samples/tao/validation/cls/nvdsinfer_config.yaml
  builder/samples/tao/validation/gdino/expected.iva_0010_02_1280_0_181016_007207.json
  builder/samples/tao/validation/mgdino/expected.iva_0010_02_1280_0_181016_007207.json
  builder/samples/tao/validation/rtdetr/expected.iva_0010_02_1280_0_181016_007207.json
  builder/samples/tao/validation/seg/expected.image_0.json
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

[vlm] Update README
  builder/samples/qwen/README
  builder/samples/qwen/trtllm_nvdec_qwen.yaml
Due: none

remove nimlib from inference package builder image
  .Dockerfile.builder
Due: build_builder_image

update inference package build command in CI
  .gitlab-ci.yml
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

[vlm] Simplify the request templates
  builder/samples/qwen/client.py
  builder/samples/qwen/trtllm_nvdec_qwen.yaml
  builder/samples/qwen/trtllm_qwen.yaml
  templates/backend/pytorch.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

Update docker-compose.yaml
  builder/samples/tao/docker-compose.yaml
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

nim related model prep and helm chart update
  builder/samples/tao/docker-compose.yaml
  builder/samples/tao/helm/services/tao-cv-validator/manifest.yaml
  builder/samples/tao/helm/services/tao-cv/configs/model_manifest.cls.yaml
  builder/samples/tao/helm/services/tao-cv/configs/model_manifest.gdino.yaml
  builder/samples/tao/helm/services/tao-cv/configs/model_manifest.mgdino.yaml
  builder/samples/tao/helm/services/tao-cv/configs/model_manifest.rtdetr.yaml
  builder/samples/tao/helm/services/tao-cv/configs/model_manifest.seg.yaml
  builder/samples/tao/helm/services/tao-cv/manifest.yaml
  builder/samples/tao/helm/services/tao-cv/nodeport.yaml
  builder/samples/tao/helm/tao-cv-app/custom_values.yaml
  builder/samples/tao/helm/tao-cv-app/tao-cv-app.yaml
  builder/samples/tao/validation/cls/model_manifest.profile.yaml
  builder/samples/tao/validation/cls/model_manifest.yaml
  builder/samples/tao/validation/gdino/model_manifest.profile.yaml
  builder/samples/tao/validation/gdino/model_manifest.yaml
  builder/samples/tao/validation/mgdino/model_manifest.profile.yaml
  builder/samples/tao/validation/mgdino/model_manifest.yaml
  builder/samples/tao/validation/rtdetr/model_manifest.profile.yaml
  builder/samples/tao/validation/rtdetr/model_manifest.yaml
  builder/samples/tao/validation/seg/model_manifest.profile.yaml
  builder/samples/tao/validation/seg/model_manifest.yaml
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

[deepstream-app] dynamic source metadata output
  templates/backend/deepstream.jinja.py
  templates/generic/model.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

[ds-app] Adjust TAO MS
  builder/samples/tao/ds_changenet.yaml
  builder/samples/tao/ds_gdino.yaml
  builder/samples/tao/ds_tao.yaml
  templates/backend/deepstream.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

[ds-app] Add grounding DINO model
  builder/samples/docker-compose.yml
  builder/samples/ds_app/ds_gdino.yaml
  builder/samples/ds_app/gdino_processors.py
  builder/samples/tao/ds_gdino.yaml
  templates/backend/deepstream.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

[ds-app] Remove redundant code
  templates/backend/deepstream.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

[vlm] Clarify the explicit batching rule
  builder/samples/qwen/processors.py
  lib/inference.py
Due: none

Add rtspoutsinkbin support
  templates/backend/deepstream.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

rtspoutsinkbin git rebase fix
  builder/samples/ds_app/ds_app.yaml
  templates/backend/deepstream.jinja.py
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

[ds-app] Add container build guide for gdino ds app
  builder/samples/ds_app/Dockerfile
  builder/samples/ds_app/README
  builder/samples/ds_app/ds_gdino.yaml
  builder/samples/ds_app/gdino_processors.py
  lib/inference.py
Due: none

[tao] Remove nimsdk dependencies
  builder/samples/docker-compose.yml
  builder/samples/tao/Dockerfile
  builder/samples/tao/HOWTO.md
  builder/samples/tao/ds_changenet.yaml
  builder/samples/tao/ds_gdino.yaml
  builder/samples/tao/ds_tao.yaml
Due: build_tao_common.val_rtdetr, build_tao_common.val_cls, build_tao_common.val_seg, build_tao_changenet, build_tao_gdino.val_gdino, build_tao_gdino.val_mgdino

Path conditions:
  build_builder_image: any of: requirements.txt, .Dockerfile.builder
  build_tao_common.val_rtdetr: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
  build_tao_common.val_cls: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
  build_tao_common.val_seg: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
  build_tao_changenet: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
  build_tao_gdino.val_gdino: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
  build_tao_gdino.val_mgdino: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
