Repository NVIDIA-AI-IOT/inference_builder: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_builder_image, build_deployer_image, build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

build_builder_image:
  stage: build-builder
  image: docker:24.0
  services:
  - docker:24.0-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
  script:
  - docker login $CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
  - docker build -t $BUILDER_IMAGE -f .Dockerfile.builder .
  - docker push $BUILDER_IMAGE

build_deployer_image:
  stage: build-deployer
  image: docker:24.0
  services:
  - docker:24.0-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
  script:
  - docker login $CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
  - cd deploy
  - docker build -t $DEPLOYER_IMAGE -f Dockerfile.deployer .
  - docker push $DEPLOYER_IMAGE

build_tao_common_nim:
  stage: build-inference
  image: $BUILDER_IMAGE
  script:
  - python builder/main.py builder/samples/tao/ds_${FLAVOR}.yaml --server-type ${SERVER_TYPE} -a builder/samples/tao/openapi.yaml --no-docker -o builder/samples/tao -t
  ...

build_tao_changenet_nim:
  stage: build-inference
  image: $BUILDER_IMAGE
  script:
  - python builder/main.py builder/samples/tao/ds_${FLAVOR}.yaml --server-type ${SERVER_TYPE} -a builder/samples/tao/openapi.yaml --no-docker -o builder/samples/tao -t
  ...

build_tao_gdino_nim:
  stage: build-inference
  image: $BUILDER_IMAGE
  script:
  - python builder/main.py builder/samples/tao/ds_${FLAVOR}.yaml --server-type ${SERVER_TYPE} -a builder/samples/tao/openapi.yaml --no-docker -o builder/samples/tao -t
  ...

build_tao_common_fastapi:
  stage: build-inference
  image: $BUILDER_IMAGE
  script:
  - python builder/main.py builder/samples/tao/ds_${FLAVOR}.yaml --server-type ${SERVER_TYPE} -a builder/samples/tao/openapi.yaml --no-docker -o builder/samples/tao -t
  ...

build_tao_changenet_fastapi:
  stage: build-inference
  image: $BUILDER_IMAGE
  script:
  - python builder/main.py builder/samples/tao/ds_${FLAVOR}.yaml --server-type ${SERVER_TYPE} -a builder/samples/tao/openapi.yaml --no-docker -o builder/samples/tao -t
  ...

build_tao_gdino_fastapi:
  stage: build-inference
  image: $BUILDER_IMAGE
  script:
  - python builder/main.py builder/samples/tao/ds_${FLAVOR}.yaml --server-type ${SERVER_TYPE} -a builder/samples/tao/openapi.yaml --no-docker -o builder/samples/tao -t
  ...

Add Changes based on review comments
  builder/samples/ds_app/detection/README.md
  builder/samples/ds_app/detection/ds_detect.yaml
Due: none

Update on RTSP input
  builder/tests/test_configs.json
  lib/inference.py
Due: none

CVE: upgrade cookiecutter
  builder/samples/ds_app/detection/ds_detect.yaml
  requirements.txt
Due: build_builder_image

minor config change for mv3dt
  builder/samples/ds_app/detection/ds_mv3dt.yaml
Due: none

Update ds_segformer.yaml
  builder/samples/ds_app/segmentation/ds_segformer.yaml
Due: none

Update requirements
  requirements.txt
Due: build_builder_image

Update the README
  README.md
Due: none

[Doc] fix format
  README.md
Due: none

Update ds_app READMEs
  builder/samples/ds_app/README.md
  builder/samples/ds_app/detection/README.md
  builder/samples/ds_app/detection/ds_detect.yaml
  builder/samples/ds_app/gdino/README.md
  builder/samples/ds_app/segmentation/README.md
Due: none

Add Change based on review
  builder/samples/ds_app/detection/README.md
  builder/samples/ds_app/detection/ds_detect.yaml
  builder/samples/ds_app/gdino/README.md
  builder/samples/ds_app/segmentation/README.md
Due: none

[doc] More fixes in the documentation
  README.md
  builder/samples/ds_app/detection/README.md
  builder/samples/ds_app/gdino/README.md
  builder/samples/ds_app/segmentation/README.md
  templates/backend/deepstream.jinja.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Enable RTSPout and Display together
  builder/samples/ds_app/README.md
  templates/backend/deepstream.jinja.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Remove () Typo
  templates/backend/deepstream.jinja.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

fix conflicts
  templates/backend/deepstream.jinja.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Add msgconv properties for mv3dt
  builder/samples/ds_app/README.md
  builder/samples/ds_app/detection/ds_detect.yaml
  builder/samples/ds_app/detection/ds_mv3dt.yaml
  templates/backend/deepstream.jinja.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Update README & Minor FIx
  builder/samples/ds_app/README.md
  builder/samples/ds_app/detection/ds_mv3dt.yaml
  templates/backend/deepstream.jinja.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

[doc] Add Design Documentation
  README.md
  doc/architecture.md
  doc/assets/architecture.png
  doc/assets/block_digram.png
  overview.png
Due: none

Update PNG
  doc/assets/block_digram.png
Due: none

Update PNG
  overview.png
Due: none

Fix CVEs
  requirements.txt
Due: build_builder_image

[tao] Add more details on the models used as samples
  builder/samples/ds_app/README.md
  builder/samples/tao/HOWTO.md
  builder/samples/tao/validation/gdino/expected.iva_0010_02_1280_0_181016_007207.json
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Add support to parse source_config and labels to message probe
  templates/backend/deepstream.jinja.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

[mv3dt] Remove duplicate yaml load
  templates/backend/deepstream.jinja.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Missing commit
  templates/backend/deepstream.jinja.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Update ds-tao readme
  builder/samples/ds_app/README.md
Due: none

Update readme
  builder/samples/ds_app/README.md
Due: none

Bug Fix: batched_push_timeout not set in case of source_config
  templates/backend/deepstream.jinja.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

CVE risk mitigation
  builder/main.py
  builder/samples/nvclip/payload.json
  builder/samples/tao/evaluation/classification_eval.py
  builder/samples/tao/evaluation/semantic_segmentation_eval.py
  builder/samples/tao/nim_client.py
  builder/samples/tao/validation/citysemsegformer/expected.sample_720p.json
  builder/tests/test_docker_builds.py
  builder/validate.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Remove unused file
  builder/samples/nvclip/payload.json
Due: none

Update TAO openapi
  builder/samples/tao/openapi.yaml
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Add Mask2Former
  builder/samples/ds_app/README.md
  builder/samples/ds_app/segmentation/mask2former/nvdsinfer_config.yaml
Due: none

Move QWen proprocessing out of trtllm backend
  builder/samples/qwen/processors.py
  templates/backend/tensorrtllm.jinja.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Add Apache 2.0 license
  builder/LICENSE
Due: none

Add Developer Certificate of Origin (DCO)
  CONTRIBUTING.md
Due: none

Update Deepstream Container Image
  builder/samples/changenet/Dockerfile
  builder/samples/ds_app/Dockerfile
  builder/samples/dummy/Dockerfile
  builder/samples/nvclip/Dockerfile
  builder/samples/qwen/Dockerfile
  builder/samples/qwen/Dockerfile.nim
  builder/samples/tao/Dockerfile
  builder/samples/tao/Dockerfile.nim
  builder/tests/Dockerfile
  builder/tests/test_docker_builds.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Update TensorRT-LLM to 1.0.0
  builder/samples/qwen/Dockerfile
  builder/samples/qwen/trtllm_nvdec_qwen.yaml
  builder/samples/qwen/trtllm_qwen.yaml
  templates/backend/tensorrtllm.jinja.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Update processors for TensorRT-LLM 1.0.0
  builder/samples/qwen/processors.py
Due: none

Update HOWTO and README
  builder/samples/ds_app/gdino/README.md
  builder/samples/tao/HOWTO.md
  builder/samples/tao/processors.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Move the License file
  LICENSE
Due: none

Path conditions:
  build_builder_image: any of: requirements.txt, .Dockerfile.builder
  build_deployer_image: any of: deploy/requirements.deployer.sh, deploy/Dockerfile.deployer
  build_tao_common_nim: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
  build_tao_changenet_nim: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
  build_tao_gdino_nim: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
  build_tao_common_fastapi: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
  build_tao_changenet_fastapi: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
  build_tao_gdino_fastapi: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
