Repository NVIDIA-AI-IOT/inference_builder: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_builder_image, build_deployer_image, build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

build_builder_image:
  stage: build-builder
  image: docker:24.0
  services:
  - docker:24.0-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
  script:
  - docker login $CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
  - docker build -t $BUILDER_IMAGE -f .Dockerfile.builder .
  - docker push $BUILDER_IMAGE

build_deployer_image:
  stage: build-deployer
  image: docker:24.0
  services:
  - docker:24.0-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
  script:
  - docker login $CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
  - cd deploy
  - docker build -t $DEPLOYER_IMAGE -f Dockerfile.deployer .
  - docker push $DEPLOYER_IMAGE

build_tao_common_nim:
  stage: build-inference
  image: $BUILDER_IMAGE
  script:
  - python builder/main.py builder/samples/tao/ds_${FLAVOR}.yaml --server-type ${SERVER_TYPE} -a builder/samples/tao/openapi.yaml --no-docker -o builder/samples/tao -t
  ...

build_tao_changenet_nim:
  stage: build-inference
  image: $BUILDER_IMAGE
  script:
  - python builder/main.py builder/samples/tao/ds_${FLAVOR}.yaml --server-type ${SERVER_TYPE} -a builder/samples/tao/openapi.yaml --no-docker -o builder/samples/tao -t
  ...

build_tao_gdino_nim:
  stage: build-inference
  image: $BUILDER_IMAGE
  script:
  - python builder/main.py builder/samples/tao/ds_${FLAVOR}.yaml --server-type ${SERVER_TYPE} -a builder/samples/tao/openapi.yaml --no-docker -o builder/samples/tao -t
  ...

build_tao_common_fastapi:
  stage: build-inference
  image: $BUILDER_IMAGE
  script:
  - python builder/main.py builder/samples/tao/ds_${FLAVOR}.yaml --server-type ${SERVER_TYPE} -a builder/samples/tao/openapi.yaml --no-docker -o builder/samples/tao -t
  ...

build_tao_changenet_fastapi:
  stage: build-inference
  image: $BUILDER_IMAGE
  script:
  - python builder/main.py builder/samples/tao/ds_${FLAVOR}.yaml --server-type ${SERVER_TYPE} -a builder/samples/tao/openapi.yaml --no-docker -o builder/samples/tao -t
  ...

build_tao_gdino_fastapi:
  stage: build-inference
  image: $BUILDER_IMAGE
  script:
  - python builder/main.py builder/samples/tao/ds_${FLAVOR}.yaml --server-type ${SERVER_TYPE} -a builder/samples/tao/openapi.yaml --no-docker -o builder/samples/tao -t
  ...

Update Docker & Torch Version for ds-app
  builder/samples/changenet/Dockerfile
  builder/samples/cradio/Dockerfile
  builder/samples/ds_app/Dockerfile
  builder/samples/ds_app/Dockerfile.dgxspark
  builder/samples/ds_app/Dockerfile.tegra
  builder/samples/ds_app/classification/README.md
  builder/samples/ds_app/detection/README.md
  builder/samples/ds_app/gdino/README.md
  builder/samples/ds_app/segmentation/README.md
  builder/samples/ds_app/segmentation/ds_segformer.yaml
  builder/samples/ds_app/test_config.json
  builder/samples/dummy/Dockerfile
  builder/samples/nvclip/Dockerfile
  builder/samples/qwen/Dockerfile
  builder/samples/tao/Dockerfile
  builder/samples/tao/HOWTO.md
  builder/samples/tao/ds_gdino.yaml
  builder/samples/vllm/Dockerfile
  builder/samples/vllm/Dockerfile.dgxspark
  builder/samples/vllm/openapi.yaml
  builder/samples/vllm/test_config.json
  builder/tests/Dockerfile
  builder/tests/test_docker_builds.py
  doc/platform-guide.md
  mcp/mcp_server.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

CI: Update golden based for new TRT version
  builder/samples/tao/validation/rtdetr/expected.iva_0010_02_1280_0_181016_007207.json
  builder/validate.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Fix CI
  .gitlab-ci.yml
  builder/samples/cradio/README.md
  builder/samples/tao/validation/rtdetr/expected.iva_0010_02_1280_0_181016_007207.json
  builder/validate.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Update model download tools
  mcp/mcp_server.py
  mcp/requirements-mcp.txt
Due: none

Type Error Fix when source_config is used
  builder/samples/ds_app/test_config.json
  builder/samples/ds_app/test_data/source_config.yaml
  lib/utils.py
  templates/backend/deepstream.jinja.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Jetson VIC compose failure bug fix
  lib/inference.py
  templates/backend/deepstream.jinja.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Fix CheckMarkx High Vulnerability Issues
  builder/main.py
  builder/samples/cradio/export_onnx.py
  builder/samples/tao/ib_client.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Update to Latest Docker
  builder/samples/changenet/Dockerfile
  builder/samples/cradio/Dockerfile
  builder/samples/ds_app/Dockerfile
  builder/samples/ds_app/Dockerfile.dgxspark
  builder/samples/ds_app/Dockerfile.tegra
  builder/samples/dummy/Dockerfile
  builder/samples/nvclip/Dockerfile
  builder/samples/qwen/Dockerfile
  builder/samples/tao/Dockerfile
  builder/samples/tao/HOWTO.md
  builder/samples/vllm/Dockerfile
  builder/samples/vllm/Dockerfile.dgxspark
  builder/tests/Dockerfile
  doc/platform-guide.md
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Dev/chunlinl vdr
  README.md
  builder/samples/cradio/Dockerfile
  builder/samples/ds_app/Dockerfile
  builder/samples/tao/Dockerfile
  mcp/examples.md
  mcp/mcp_server.py
  mcp/requirements-mcp.txt
  mcp/setup_mcp.py
  requirements.txt
  schemas/config.schema.json
Due: build_builder_image, build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

vdr feedback
  mcp/README-MCP.md
Due: none

Update README.md
  README.md
Due: none

Update examples.md
  mcp/examples.md
Due: none

Remove unused files from release
  .gitattributes
  builder/samples/tao/ib_client.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Fix security issue
  builder/samples/cradio/export_onnx.py
Due: none

trust remote should be True
  builder/samples/cradio/export_onnx.py
Due: none

Fix Typo
  mcp/examples.md
Due: none

Fix security issue
  builder/samples/cradio/export_onnx.py
  builder/samples/tao/test_config.json
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Update base container image to NGC artifacts
  builder/samples/changenet/Dockerfile
  builder/samples/cradio/Dockerfile
  builder/samples/ds_app/Dockerfile
  builder/samples/ds_app/Dockerfile.dgxspark
  builder/samples/ds_app/Dockerfile.tegra
  builder/samples/dummy/Dockerfile
  builder/samples/nvclip/Dockerfile
  builder/samples/qwen/Dockerfile
  builder/samples/tao/Dockerfile
  builder/samples/tao/HOWTO.md
  builder/samples/vllm/Dockerfile
  builder/samples/vllm/Dockerfile.dgxspark
  builder/tests/Dockerfile
  doc/platform-guide.md
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Update github repo.
  README.md
Due: none

Remove .gitlab-ci.yml from release branch
  .gitlab-ci.yml
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Remove unused triton boilerplate from release branch
  .gitattributes
  builder/boilerplates/triton/cookiecutter.json
  builder/boilerplates/triton/{{cookiecutter.service_name}}/__main__.py
  builder/boilerplates/triton/{{cookiecutter.service_name}}/config/__init__.py
  builder/boilerplates/triton/{{cookiecutter.service_name}}/custom/__init__.py
  builder/boilerplates/triton/{{cookiecutter.service_name}}/model_repo/{{cookiecutter.service_name}}/1/model.py
  builder/boilerplates/triton/{{cookiecutter.service_name}}/model_repo/{{cookiecutter.service_name}}/config.pbtxt
Due: none

Fix public docker name typo
  builder/samples/changenet/Dockerfile
  builder/samples/cradio/Dockerfile
  builder/samples/ds_app/Dockerfile
  builder/samples/ds_app/Dockerfile.dgxspark
  builder/samples/ds_app/Dockerfile.tegra
  builder/samples/dummy/Dockerfile
  builder/samples/nvclip/Dockerfile
  builder/samples/qwen/Dockerfile
  builder/samples/tao/Dockerfile
  builder/samples/tao/HOWTO.md
  builder/samples/vllm/Dockerfile
  builder/samples/vllm/Dockerfile.dgxspark
  builder/tests/Dockerfile
  doc/platform-guide.md
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Fix DGX Spark Docker
  builder/samples/ds_app/Dockerfile.dgxspark
  builder/samples/vllm/Dockerfile.dgxspark
  doc/platform-guide.md
Due: none

Remove VLLM DGX-SPARK Dockerfile
  builder/samples/vllm/Dockerfile.dgxspark
Due: none

Fix Test
  builder/tests/setup_rtsp_server.sh
Due: none

Update base container image to NGC artifacts
  builder/samples/changenet/Dockerfile
  builder/samples/cradio/Dockerfile
  builder/samples/ds_app/Dockerfile
  builder/samples/ds_app/Dockerfile.dgxspark
  builder/samples/ds_app/Dockerfile.tegra
  builder/samples/dummy/Dockerfile
  builder/samples/nvclip/Dockerfile
  builder/samples/qwen/Dockerfile
  builder/samples/tao/Dockerfile
  builder/samples/tao/HOWTO.md
  builder/samples/vllm/Dockerfile
  builder/tests/Dockerfile
  doc/platform-guide.md
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Fix public docker name typo
  builder/samples/changenet/Dockerfile
  builder/samples/cradio/Dockerfile
  builder/samples/ds_app/Dockerfile
  builder/samples/ds_app/Dockerfile.dgxspark
  builder/samples/ds_app/Dockerfile.tegra
  builder/samples/dummy/Dockerfile
  builder/samples/nvclip/Dockerfile
  builder/samples/qwen/Dockerfile
  builder/samples/tao/Dockerfile
  builder/samples/tao/HOWTO.md
  builder/samples/vllm/Dockerfile
  builder/tests/Dockerfile
  doc/platform-guide.md
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Fix DGX Spark Docker
  builder/samples/ds_app/Dockerfile.dgxspark
  doc/platform-guide.md
Due: none

Add merge=ours for triton api_server templates to prevent merge from main
  .gitattributes
Due: none

Claude.md support
  builder/tests/test_configs.json
  builder/tests/test_docker_builds.py
  claude.md
  schemas/index.json
  templates/api_server/nim/responder.jinja.py
  templates/api_server/nim/route/inference.jinja2
  templates/api_server/triton/responder.jinja.py
  templates/api_server/triton/route/inference.jinja2
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Bump the version
  VERSION
Due: none

Bump version
  VERSION
  builder/main.py
  builder/samples/tao/validation/build.py
  builder/tests/test_docker_builds.py
  doc/usage.md
  mcp/mcp_server.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Agentic Skill Support
  .claude-plugin/plugin.json
  README.md
  VERSION
  builder/samples/ds_app/test_config.json
  builder/tests/test_docker_builds.py
  claude.md
  prompts.md
  skills/inference-builder/SKILL.md
  skills/setup_skill.sh
  templates/backend/deepstream.jinja.py
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Compliance for skills
  skills/inference-builder/SKILL.md
  skills/inference-builder/evals/evals.json
  skills/setup_skill.sh
Due: none

High Batch Size Bug Fix
  .gitlab-ci.yml
  builder/samples/README.md
  builder/samples/changenet/Dockerfile
  builder/samples/cradio/Dockerfile
  builder/samples/ds_app/Dockerfile
  builder/samples/ds_app/Dockerfile.dgxspark
  builder/samples/ds_app/Dockerfile.tegra
  builder/samples/dummy/Dockerfile
  builder/samples/nvclip/Dockerfile
  builder/samples/qwen/Dockerfile
  builder/samples/tao/Dockerfile
  builder/samples/tao/validation/Dockerfile.validation
  builder/samples/vllm/Dockerfile
  builder/tests/Dockerfile
  skills/inference-builder/SKILL.md
Due: build_tao_common_nim, build_tao_changenet_nim, build_tao_gdino_nim, build_tao_common_fastapi, build_tao_changenet_fastapi, build_tao_gdino_fastapi

Path conditions:
  build_builder_image: any of: requirements.txt, .Dockerfile.builder
  build_deployer_image: any of: deploy/requirements.deployer.sh, deploy/Dockerfile.deployer
  build_tao_common_nim: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
  build_tao_changenet_nim: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
  build_tao_gdino_nim: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
  build_tao_common_fastapi: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
  build_tao_changenet_fastapi: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
  build_tao_gdino_fastapi: any of: builder/samples/tao/**/*, builder/main.py, templates/**/*, .gitlab-ci.yml, !**/*.md
